@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova/Mark Simonson  Proxima Nova Condensed Bold TheFontsMaster.com.woff");
}

body {
  font-family: "Proxima Nova";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  background: transparent;
}

:root {
  --bg-color: #ffffff;
  --title-color: #a30c33;
  --text-color: #444444;
}
