.banner {
  width: 100%;
  .banner__content {
    width: 100%;
    height: 600px;
    padding: 158px 471px 158px 70px;
    background: url(../../assets/images/banner.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .banner__title {
    width: 709px;
    height: 168px;
    font-size: 56px;
    line-height: 100%;
    color: var(--text-color);
  }
  .banner__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
    margin-top: 60px;
    background: #b01736;
    border-radius: 8px;
    color: var(--bg-color);
  }
  .banner__info {
    .banner__info_title {
      width: 1110px;
      height: 350px;
      margin: 100px auto;
      padding: 99px 110px;
      box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
      font-size: 32px;
      line-height: 120%;
      text-align: center;
      .banner__info_title-header {
        color: var(--title-color);
      }
    }
  }
}
